language: cpp
os: linux
dist: trusty
sudo: false

matrix:
  include:
    - env: CXX_COMPILER=clang++-6.0 CXX=g++-7
      addons: { apt: { packages: ["clang-6.0", "g++-7"], sources: ["ubuntu-toolchain-r-test", "llvm-toolchain-trusty-6.0"] } }

    - env: CXX_COMPILER=clang++-7 CXX=g++-7
      addons: { apt: { packages: ["clang-7", "g++-7"], sources: ["ubuntu-toolchain-r-test", "llvm-toolchain-trusty-7"] } }

    - env: CXX_COMPILER=clang++-8 CXX=g++-7
      addons:
        apt:
          packages:
            - clang-8
            - g++-7
          sources:
            - ubuntu-toolchain-r-test
            - sourceline: 'deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-8 main'
              key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'

    - env: CXX_COMPILER=clang++-9 CXX=g++-7
      addons: { apt: { packages: ["clang-9", "g++-7"], sources: ["ubuntu-toolchain-r-test", "llvm-toolchain-trusty"] } }

    - env: CXX_COMPILER=g++-7
      addons: { apt: { packages: ["g++-7"], sources: ["ubuntu-toolchain-r-test"] } }

    - env: CXX_COMPILER=g++-8
      addons: { apt: { packages: ["g++-8"], sources: ["ubuntu-toolchain-r-test"] } }
   
install:

################################################################################
# Third party dependencies are installed in ${TRAVIS_BUILD_DIR}/../third_party
################################################################################
- |
  THIRD_PARTY_DIR="${TRAVIS_BUILD_DIR}/../third_party"
  mkdir -p ${THIRD_PARTY_DIR}
  
################################################################################
# Install the latest Boost and build Boost.Test (compiled with gcc)
################################################################################
- |
  BOOST_VERSION=1.69.0
  BOOST_DIR=${THIRD_PARTY_DIR}/boost-${BOOST_VERSION}
  BOOST_URL="https://dl.bintray.com/boostorg/release/${BOOST_VERSION}/source/boost_${BOOST_VERSION//\./_}.tar.bz2"
  mkdir -p ${BOOST_DIR} && travis_retry wget --quiet -O - ${BOOST_URL} | tar --strip-components=1 -xj -C ${BOOST_DIR}
  cd ${BOOST_DIR} && ./bootstrap.sh --with-libraries=test && ./b2 -d0

################################################################################
# Install the latest CMake
################################################################################
- |
  CMAKE_VERSION=3.13.3
  CMAKE_DIR=${THIRD_PARTY_DIR}/cmake-${CMAKE_VERSION}
  CMAKE_URL="http://www.cmake.org/files/v${CMAKE_VERSION%.[0-9]}/cmake-${CMAKE_VERSION}-Linux-x86_64.tar.gz"
  mkdir -p ${CMAKE_DIR} && travis_retry wget --quiet -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C ${CMAKE_DIR}
  export PATH=${CMAKE_DIR}/bin:${PATH}

before_script:
- |
  cd ${TRAVIS_BUILD_DIR}
  mkdir build && cd build
  cmake .. -DCMAKE_CXX_COMPILER=${CXX_COMPILER} -DBOOST_ROOT="${BOOST_DIR}" -DBOOST_LIBRARYDIR="${BOOST_DIR}/stage/lib"
 
script: 
- |
  cmake --build .
  ctest

after_success:
- |
  if [[ "${CXX_COMPILER}" == "g++-7" ]]; then
    bash <(curl -s https://codecov.io/bash)
  fi

notifications:
  email: false
